* {
    font-family: 'Times New Roman', Times, serif;
}
.header {
    background-color: #33331a;
    color: white;
}

container {
    background-color: #33331a;
}

.tool-link {
    text-decoration: none;
    color: #336600;
}

.tool-link:hover {
    text-decoration: underline;
    font-weight: bolder;
    color: #336600;
}

.container-background {
    background-color:#f6f6ee;
}

.nav-link:hover{
    color: #336600;
}